<div class="introduction">
	{{ if .Site.Params.publications }}
	<h3>Publications</h3>
	{{ with .Site.Params.googlescholar }}
	<a href="{{ . }}">[Google Scholar]</a>
	{{ end }}
	{{- range $index, $publications := $.Site.Params.publications -}}
	<div class="year">{{ $publications.year }}</div>

	<ul>
		{{ range $elem_index, $publication := $publications.paper }}
		<li>
			{{ if $publication.link }}
			<a href="{{ $publication.link }}" class="publications"> {{ $publication.name }}</a>
			{{ else }}
			<p class="publications"> {{ $publication.name }}</p>
			{{ end }}

			{{ if or ($publication.code_link) $publication.blog_link $publication.arxiv }}
			<span class="code_blog">
				{{ with $publication.arxiv }}
				[<a href="{{ $publication.arxiv }}">arxiv</a>]
				{{ end }}

				{{ with $publication.blog_link }}
				[<a href="{{ $publication.blog_link }}">blog</a>]
				{{ end }}

				{{ with $publication.code_link }}
				[<a href="{{ $publication.code_link }}">code</a>]
				{{ end }}
			</span>
			{{ end }}

			<span class="collaborators">
				{{ $publication.authors | markdownify }}
			</span>

			{{ if $publication.dest }}
			<span class="collaborators">
				{{ $publication.dest | markdownify }}
			</span>
			{{ end }}

			{{ if $publication.comments }}
			<span class="collaborators">
				{{ $publication.comments | markdownify }}
			</span>
			{{ end }}
		</li>
		{{ end }}
	</ul>
	{{- end -}}
	{{- end -}}
</div>
